
.modal{
  margin: 30px auto auto auto;
    width: auto;
    height: 600px;
    display: grid;
    padding: 15px;
    grid-template-columns: 3fr 3fr; 
    background: linear-gradient(0deg, rgba(77,69,209,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
}
.textDiv{
    width:70%;
    height: auto 25px;
    margin: auto;
}
a{
  text-decoration: none;
  color: white;
}
samp{
    font-size: 4rem;
    color: #ffffff;
    margin: auto;
    width: 100%;
    height: auto;
   text-align: center;
    font-family: "Sofia", sans-serif;

}
.listStyle{
    width: 250px;
    height: auto;
    margin: 35px auto 35px auto;
    color: #cecece;
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: 3fr 3fr;
}
.l1{
    width: 90%;
    height: auto;
    border: 3px solid;
    border-radius: 5px;
    text-align: center;   
    font-family: serif;
    font-weight: 500;
    font-size: 22px;
    padding: 5px 5px 5px 5px;
}
.red{
    border-color: red;
    background-color: rgb(255, 81, 81);
}
.green{
    border-color:green;
    background-color: rgb(49, 172, 49);
}
.brown{
    border-color:brown;
    background-color:rgb(218, 46, 46);

}
.slide{
  width: fit-content;
  height: auto;
  margin: auto;
}
.textDiv h2{
    color: rgb(255, 255, 255);
    font-family: "Sofia", sans-serif;
    margin: 10px auto 10px auto;
}

.mySlides {display: unset;}

.fade1 {
  animation-name: fade;
  animation-duration: 1.5s;
}
#s1{
display:block;

}
.show{
  display: block;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 960px) {
  .modal{
    display: block;
    height: fit-content;
    margin: 50px auto auto auto;
  }
}

